*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

html,body{
	height:100%;
	background: rgb(20, 18, 18);

}

section{
    position: fixed;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 72px;
    padding: 0 30px;
    background: rgb(32, 32, 36);
    top: 0px;
    z-index: 9998;
    transition: all 0.5s ease-in-out 0s;
    box-shadow: rgb(18 18 20) 0px 1rem 2rem;
    opacity: 1;
    transform: translateY(0px);
    visibility: visible;
}

.logo{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: left;
    z-index: 2;
}

.corpo-discover{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.corpo-principal{
    width: 100%;
    max-width: 1366px;
    padding: 40px;
}

.discover-name{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    padding-bottom: 3.2rem;
}

.discover-name img{
   margin-right: auto;
   margin-top: 10%;
}

.discover-name button{
    display: flex;
    margin-top: 25%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    border: 0px;
    border-radius: 5px;
    background-color: rgb(225, 151, 16);
    padding: 1.6rem;
    transition: all 180ms ease-in-out 0s;

}


.perfil img{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    padding: 2px;
    border: 2px solid rgb(235, 116, 4);
    border-radius: 100%;
    background-position: center center;
    background-size: cover;
    background-clip: content-box;
}

