*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

html,body{
	height:100%;
	background: rgb(20, 18, 18);

}

section{
    margin-left: 20%;
    position: fixed;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    width: 80%;
    height: 72px;
    padding: 0 30px;
    background: rgb(32, 32, 36);
    top: 0px;
    z-index: 9998;
    transition: all 0.5s ease-in-out 0s;
    border-bottom: 1px solid white;;
    opacity: 1;
    transform: translateY(0px);
    visibility: visible;
}

.logo{
    margin-right: 25%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    z-index: 2;
}

.aside{
    display: block;
    background: rgb(32, 32, 36);
    border-right: 1px solid white;
	padding:20px 50px;
	width:20%;
    height: 100vh;
}

.logo-aside img{
    width: auto;
    height: 95px;
}

.titulo-discover h2{
    color: white;
    align-items: center;
    font-size: 15px;
    margin: 30px 0;
    opacity: 0.5;
}

.buttons-discover a{
    display: block;
    color: white;
    margin: 20px 0;
	-webkit-box-reflect: below 0px linear-gradient(transparent, #0002);
    transition: opacity 0.5s;
}

.buttons-discover a:hover{
    opacity: .7;
}

.buttons-discover i{
    font-size: 17px;
    margin-right: 5px;
}

.titulo-content{
    padding: 80px 0;
    display: flex;
    color: rgb(197, 193, 193);
}

.content{
    margin-top: 10%;
    align-items: center;
    justify-content: center;
    display: inline-block;
    color: white;
}

.content h1 {
   align-items: center;
   justify-content: center;
   text-align: center;
}

.content h2{
    margin-top: 5%;
    text-align: center;
}

.content p{
    text-align: center;
    margin: 12px 0;
}

.coming{
    margin-top: 5%;
    text-align: center;
}


.discover-mensagem{
    margin-top: 10%;
    color: white;
}

.discover-mensagem h3{
    font-size: 17px;
    opacity: 0.7;
}

.discover-mensagem h1{
    margin-top: 10%;
    font-size: 26px;
}

.line{
    border: 1px solid chocolate;
    height: 1px;
    width: 100%;
    margin-top: 7%;
}

.formulario{
    color: white;
    width: 400px;
    padding: 20px;
    margin-top: 20%;
    margin-right: 15%;
}
.formulario p{

    width: 100%;
    border: 1px solid chocolate;
    border-radius: 15px;
    border-style: dashed;
    padding: 3px;
}
.field{
    width: 100%;
    margin: 15px 0;
}
.field label, 
.field span{
    padding-left: 10px;
    font-size: 1.1em;
    display: block;
    width: 100%;
}
.radiobox label{
    width: auto;
    display: inline-block;
}
input[type=text],
input[type=email],
textarea{
    width: 100%;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    border: 1px solid chocolate;
    outline: none;
}
input#nao{
    margin-left: 30px;
}
textarea{
    line-height: 20px;
    padding: 10px;
    height: 90px;
    resize: none;
}
input[type=submit]{
    display: block;
    background-color: chocolate;
    height: 35px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}



